.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: var(--space-lg);
  background-color: var(--bg-secondary);
  flex-grow: 1;
  min-height: 0;
  color: var(--text-primary);
}